body{
    background-color: beige;
}

.numeros{
    text-align: center;
    justify-content: center;

}
.botones{
    text-align: center;
}
h1{
    justify-content: center;
    background-color:aqua;
    padding: 10px;
    width: 300px;
    text-align: center;
    border: 1px solid black;
    margin: 25px 470px;
}

.btn1{
    background-color: aquamarine;
    padding: 10px;
    width: 40px;
    
}
